<div class="list-games">
    <a href="/genres" class="create-game">Revenir à la liste des genres</a>
    <ul>
        {{#each genre.games}}
            <li>
                <!-- Affichage de l'image du jeu -->
                {{#if image}} <!-- Vérifie si une image existe pour le jeu -->
                    <img src="{{image}}" alt="Image de {{title}}" class="game-thumbnail">
                {{else}}
                    <p>Aucune image disponible</p> <!-- Message si aucune image n'est disponible -->
                {{/if}}
                <a href="/games/{{id}}/details">{{title}}</a>
            </li>
        {{/each}}
    </ul>
</div>