<div class="details-game">
    <div class="details-game-action">
        {{>games/edit edit_text="Editer" game=game}}
        {{>games/delete game=game}}
    </div>

    <div class="details-game-info">
        <table>
            <caption>
                {{game.title}}
            </caption>
            <thead>
            <tr>
                <th>Image</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date de sortie</th>
                <th>Genre</th>
                <th>Editeur</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td data-label="Image">
                    {{#if game.image}}
                        <img src="{{game.image}}" alt="Image de {{game.title}}" class="game-image">
                    {{else}}
                        <p>Aucune image disponible</p>
                    {{/if}}
                </td>
                <td data-label="Titre">{{game.title}}</td>
                <td data-label="Description">{{game.description}}</td>
                <td data-label="Date de sortie">{{releaseDateFormatted}}</td>
                <td data-label="Genre"><a href="/genres/{{game.genre.id}}/games">{{game.genre.name}}</a></td>
                <td data-label="Editeur"><a href="/editors/{{game.editor.id}}/games" class="games-details-editor">{{game.editor.name}}</a></td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
